.navigation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    margin-top: 50px;
  }
  
  .navigation-title {
    color: #0D51D9; 
    font-family: "Garamond, serif";
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 0.5rem;
  }
  
  .tab-container {
    display: flex;
    width: 100%;
    border: 1px solid #C4EEF2;
    border-radius: 9999px;
    padding: 25px;
  }
  
  .tab-button {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    color: #0D51D9;
    font-weight: 200;
    flex: 1;
    padding: 0.5rem 0.2rem;
    text-align: center;
    border-radius: 9999px;
    border: none;
    background-color: #FFFFFF;
    cursor: pointer;
    transition: all 0.6s ease;
  }
  
  .tab-button.active {
    background-color: #0D51D9;
    color: white;
    font-weight: 500;
    transform: scale(1.05);
  }

/* Dark Mode */

.navigation-container.dark {
  color: white;
}
.tab-button.active.dark {
  background-color: #0D51D9;
  color: #262524;
  font-weight: 500;
  transform: scale(1.05);
}

.tab-button.dark {
  background-color: #262524;
  color: #0D51D9;
  font-weight: 200;
  border: none;
} 